@{
    ViewData["Title"] = "Tests";
}
<h1>@ViewData["Title"]</h1>

<h1>Tests divers</h1>

<a asp-action="Index" asp-controller="Evenements" asp-route-id="12">Transmettre un id à une action surchargée</a>

<p>@ViewBag.Message</p>
