@model Modele.Interet

@{
    ViewData["Title"] = "Edit";
}

<h1>Intérêt</h1>
<h4>Mise à jour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InteretId" />
            <div class="form-group">
                <label asp-for="EvenementId" class="control-label"></label>
                <select asp-for="EvenementId" class="form-control" asp-items="ViewBag.EvenementId"></select>
                <span asp-validation-for="EvenementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaires" class="control-label"></label>
                <input asp-for="Commentaires" class="form-control" />
                <span asp-validation-for="Commentaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
